# Create Network Chart

This notebook is for structuring data to visualise a network using the networkx package.

In [1]:
import networkx as nx
import numpy as np
import pandas as pd

In [2]:
raw_data = pd.read_csv('Major Trading Partners.csv', encoding="windows_1258")
raw_data = raw_data[raw_data['Year'] == 2020]
raw_data

,Source,Year,Series,Target,Value
2,Afghanistan,2020,Major trading partner 1 (% of exports),India,47.1
5,Afghanistan,2020,Major trading partner 1 (% of imports),Iran,14.6
8,Afghanistan,2020,Major trading partner 2 (% of exports),Pakistan,34.3
11,Afghanistan,2020,Major trading partner 2 (% of imports),China,13.9
14,Afghanistan,2020,Major trading partner 3 (% of exports),China,3.6
...,...,...,...,...,...
3718,Zimbabwe,2020,Major trading partner 1 (% of imports),South Africa,49.3
3720,Zimbabwe,2020,Major trading partner 2 (% of exports),Undisclosed,22.0
3723,Zimbabwe,2020,Major trading partner 2 (% of imports),Singapore,10.9
3726,Zimbabwe,2020,Major trading partner 3 (% of exports),United Arab Emirates,20.3
3729,Zimbabwe,2020,Major trading partner 3 (% of imports),China,9.3

In [3]:
no_top_n = 50
top_n_countries = raw_data['Target'].value_counts().to_frame().sort_values(by=['Target'], ascending=False).reset_index().head(no_top_n)['index'].values

In [4]:
top_n_countries

array(['China', 'United States', 'Germany', 'France',
       'United Arab Emirates', 'India', 'Japan', 'Italy',
       'United Kingdom', 'Russian Federation', 'Netherlands', 'Areas nes',
       'Singapore', 'Spain', 'Saudi Arabia', 'South Africa', 'Australia',
       'Republic of Korea', 'Turkey', 'Thailand', 'Brazil', 'Belgium',
       'Switzerland', 'Canada', 'Mexico', 'New Zealand', 'Portugal',
       'Trinidad and Tobago', 'Sweden', 'Serbia', 'Kenya', 'Argentina',
       'Poland', 'Norway', 'Ireland', 'Egypt', 'China, Hong Kong SAR',
       'Viet Nam', 'Malaysia', 'Pakistan', 'Dem. Rep. of Congo', 'Greece',
       'Denmark', 'Panama', 'Senegal', 'Uganda', 'Kazakhstan', 'Nigeria',
       'Other Asia, nes', 'Romania'], dtype=object)

In [5]:
raw_data = raw_data[raw_data['Target'].isin(top_n_countries)]
raw_data = raw_data[raw_data['Source'].isin(top_n_countries)]
raw_data

,Source,Year,Series,Target,Value
124,Argentina,2020,Major trading partner 1 (% of exports),Brazil,14.5
127,Argentina,2020,Major trading partner 1 (% of imports),China,20.4
130,Argentina,2020,Major trading partner 2 (% of exports),China,9.6
133,Argentina,2020,Major trading partner 2 (% of imports),Brazil,20.4
136,Argentina,2020,Major trading partner 3 (% of exports),United States,6.0
...,...,...,...,...,...
3648,Viet Nam,2020,Major trading partner 1 (% of imports),China,29.8
3651,Viet Nam,2020,Major trading partner 2 (% of exports),China,15.7
3654,Viet Nam,2020,Major trading partner 2 (% of imports),Republic of Korea,18.5
3657,Viet Nam,2020,Major trading partner 3 (% of exports),Japan,7.7
3660,Viet Nam,2020,Major trading partner 3 (% of imports),Japan,7.7

In [6]:
new_df_1 = pd.DataFrame()
new_df_2 = pd.DataFrame()

for index, row in raw_data.iterrows():
    custom_dict_1 = {'Source': row['Source'], 
                     'Year': row['Year'], 
                     'Series': row['Series'], 
                     'Target': row['Target'], 
                     'Value': row['Value'],
                     'Name': row['Source']}
    new_df_1 = new_df_1.append(custom_dict_1, ignore_index=True)
    custom_dict_2 = {'Source': row['Source'], 
                     'Year': row['Year'], 
                     'Series': row['Series'], 
                     'Target': row['Target'], 
                     'Value': row['Value'],
                     'Name': row['Target']}
    new_df_2 = new_df_2.append(custom_dict_2, ignore_index=True)

In [7]:
new_df = pd.concat([new_df_1, new_df_2], axis=0)
new_df

,Source,Year,Series,Target,Value,Name
0,Argentina,2020.0,Major trading partner 1 (% of exports),Brazil,14.5,Argentina
1,Argentina,2020.0,Major trading partner 1 (% of imports),China,20.4,Argentina
2,Argentina,2020.0,Major trading partner 2 (% of exports),China,9.6,Argentina
3,Argentina,2020.0,Major trading partner 2 (% of imports),Brazil,20.4,Argentina
4,Argentina,2020.0,Major trading partner 3 (% of exports),United States,6.0,Argentina
...,...,...,...,...,...,...
259,Viet Nam,2020.0,Major trading partner 1 (% of imports),China,29.8,China
260,Viet Nam,2020.0,Major trading partner 2 (% of exports),China,15.7,China
261,Viet Nam,2020.0,Major trading partner 2 (% of imports),Republic of Korea,18.5,Republic of Korea
262,Viet Nam,2020.0,Major trading partner 3 (% of exports),Japan,7.7,Japan
263,Viet Nam,2020.0,Major trading partner 3 (% of imports),Japan,7.7,Japan

In [8]:
new_df.rename(columns={'Source': 'Source ID', 'Target': 'Target ID'}, inplace=True)
new_df

,Source ID,Year,Series,Target ID,Value,Name
0,Argentina,2020.0,Major trading partner 1 (% of exports),Brazil,14.5,Argentina
1,Argentina,2020.0,Major trading partner 1 (% of imports),China,20.4,Argentina
2,Argentina,2020.0,Major trading partner 2 (% of exports),China,9.6,Argentina
3,Argentina,2020.0,Major trading partner 2 (% of imports),Brazil,20.4,Argentina
4,Argentina,2020.0,Major trading partner 3 (% of exports),United States,6.0,Argentina
...,...,...,...,...,...,...
259,Viet Nam,2020.0,Major trading partner 1 (% of imports),China,29.8,China
260,Viet Nam,2020.0,Major trading partner 2 (% of exports),China,15.7,China
261,Viet Nam,2020.0,Major trading partner 2 (% of imports),Republic of Korea,18.5,Republic of Korea
262,Viet Nam,2020.0,Major trading partner 3 (% of exports),Japan,7.7,Japan
263,Viet Nam,2020.0,Major trading partner 3 (% of imports),Japan,7.7,Japan

In [9]:
new_df.to_csv('Clean Data.csv', index=False)

In [10]:
from pandas import DataFrame

# Read in Source File - NB this must match the schema requirements

df_InputData = pd.read_csv("Clean Data.csv")
Src_Column = 'Source ID'
Tgt_Column = 'Target ID'

In [11]:
df_InputData

,Source ID,Year,Series,Target ID,Value,Name
0,Argentina,2020.0,Major trading partner 1 (% of exports),Brazil,14.5,Argentina
1,Argentina,2020.0,Major trading partner 1 (% of imports),China,20.4,Argentina
2,Argentina,2020.0,Major trading partner 2 (% of exports),China,9.6,Argentina
3,Argentina,2020.0,Major trading partner 2 (% of imports),Brazil,20.4,Argentina
4,Argentina,2020.0,Major trading partner 3 (% of exports),United States,6.0,Argentina
...,...,...,...,...,...,...
523,Viet Nam,2020.0,Major trading partner 1 (% of imports),China,29.8,China
524,Viet Nam,2020.0,Major trading partner 2 (% of exports),China,15.7,China
525,Viet Nam,2020.0,Major trading partner 2 (% of imports),Republic of Korea,18.5,Republic of Korea
526,Viet Nam,2020.0,Major trading partner 3 (% of exports),Japan,7.7,Japan
527,Viet Nam,2020.0,Major trading partner 3 (% of imports),Japan,7.7,Japan

### Create Coordinates for Nodes in Network

In [12]:
#Nodes are positioned using the Fruchterman-Reingold force-directed algorithm.

Q = nx.Graph()
arr_SrcTgt= np.array(df_InputData[[Src_Column, Tgt_Column]])
Q.add_edges_from(arr_SrcTgt)
dict_Coords = nx.spring_layout(Q, k=0.30, iterations=20)

df_Raw_Coords = DataFrame(dict_Coords)
df_Raw_Coords = df_Raw_Coords.T
df_Raw_Coords.columns = ['X','Y']
df_Raw_Coords['NodeName'] = df_Raw_Coords.index

#Add in a "Node Name" for cases where nodes do not link with another named node

df_Raw_Coords.fillna("Not Specified", inplace = True)

### Join Coordinates to the Main Dataset

In [13]:
#Create bridge between main dataset and coordinates

arr_SrcTgt2 = arr_SrcTgt.reshape(1,(len(arr_SrcTgt)*2))
arr_SrcTgt2 = arr_SrcTgt2.reshape(-1)
df_SrcTgt = DataFrame(arr_SrcTgt2,columns=['NodeName'])
arr_Index = []
for i in range(1,(len(arr_SrcTgt)+1)):
        arr_Index.append(i)
        arr_Index.append(i)
df_SrcTgt['c_Index'] = arr_Index

#Join the datasets

df_InputData.index = df_InputData.index + 1

Merge_1 = pd.merge(
    left=df_SrcTgt,
    right=df_InputData,
    how="inner",
    left_on=df_SrcTgt['c_Index'],
    right_index=True,
)

df_MainDat = DataFrame(Merge_1)
df_MainDat = df_MainDat.drop(columns=['key_0'])

Merge_2 = pd.merge(
    left=df_Raw_Coords,
    right=df_MainDat,
    how="left",
    left_on=df_Raw_Coords['NodeName'],
    right_on=df_MainDat['NodeName'],
    suffixes=("", "_y"),
)

df_finaldat = DataFrame(Merge_2)
df_finaldat = df_finaldat.drop(columns=['key_0','NodeName_y'])

### Output Excel File

In [14]:
df_finaldat.to_excel("Network Data.xlsx", sheet_name='Network')